:root {
    --heading-font: 'Aboreto', sans-serif;
    --paragraph-font: 'Quicksand', sans-serif;
    --subtitle-font: 'Poiret One', sans-serif;
    --font-size: 1.4rem;
    --primary-color: #d2e2d1;
    --secondary-color: #334833;
    --tertiary-color: #324240;
    --background-color: #dfdfde;
}
*{
    margin: 0;
    padding: 0;
}

#body{
    font-size: var(--font-size);
    font-family: var(--paragraph-font); 
    color: var(--tertiary-color);  
}
#mainRow{
    width: fit-content;
}
p a{
    color: var(--secondary-color);
}
#contact button{
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 10px;
}
h1,h2,h3{
    font-family: var(--subtitle-font);
}
h4,h5,h6{
    font-family: var(--heading-font);
}
div h3{
    font-size: 1.75rem;
}

#simple-list-item-1{
    background-color: var(--primary-color);
    text-align: center;
}
h3{
    text-align: center;
    font-size:0.8rem;
}
.bar img{
    max-width: 6rem;
}
.row{
    --bs-gutter-x: 0;
}

/* ------------- Sidebar ------------ */

.bar{
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
    font-size:0.72rem;
    text-align: center;
    background-color:  black;
}
.bar ul{
    width:fit-content;
    margin:auto;
}
.bar a{
    color:white;
    text-decoration:none;
    font-weight: bold;
}

/* .custom-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
} */
#offcanvasNavbar{
    background-color: rgba(0, 0, 0, 0.808);
}
.bar button{
    background-color: white;
}

/* Greetings */
#welcome{
    background-color: var(--background-color);
    width: 100%;
}
#greetings{
    padding-top:4rem;
    padding-bottom:4rem;
}

#greetings .col img{
    width:100%;
    height: auto;
}
#greetings .col section{
    padding:5% ;
}

/* About */
#about{
    background-color: var(--primary-color);
    padding-top:2rem;
    padding-bottom:12rem;
}
#about img{
    width:25%;
}
#about a{
    color: var(--secondary-color);
}
#aboutMe{
    padding: 2rem;
}


/* SKills */
#list-skills{
    background-color: var(--background-color);
    padding: 2rem 0 15rem 0;
}
#list-skills #skills{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10px;
}
#list-skills #skills{
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills table{
    position: relative;
    width: 250px;

}

#skills table thead{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#skills table:hover thead{
    position: relative;
}

#skills table td{
    background-color:var(--primary-color);
    color: var(--tertiary-color);
}
#skills td img{
    width: 1rem;
}
#list-skills i{
    font-size: 50px;
}
#iUse{
    padding: 2rem;
}

/* Projects */
#project{
    padding: 2rem 0 15rem 0;
    background-color: var(--primary-color);
}
#project .card{
    background-color: var(--primary-color);
}
#project a{
    color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}
#project .displayP{
    padding:0 2rem;
}
#project img{
    width: 100%;
    height: 100%;
}


/* Contact */
#contact{
    margin: auto;
    padding: 2.5rem;
    background-color: var(--background-color);
}

/* footer */
footer{
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: rgba(var(--bs-light-rgb))!important;
}
footer a{
    text-decoration: none;
    color: rgba(var(--bs-light-rgb))!important;
}

#contact .row, #about .row, #list-Skill .row, #project .row{
    --bs-gutter-x: 2rem;
}