:root {
    --heading-font: 'Aboreto', sans-serif;
    --paragraph-font: 'Quicksand', sans-serif;
    --subtitle-font: 'Poiret One', sans-serif;
    --font-size: 1.4rem;
    --primary-color: #d2e2d1;
    --secondary-color: #9BB899;
    --tertiary-color: #576656;
    --background-color: #dfdfde;
}

#body{
    font-size: var(--font-size);
    font-family: var(--paragraph-font); 
    color: var(--tertiary-color);  
}
#contact button{
    background-color: var(--secondary-color);
}
h1,h2,h3{
    font-family: var(--subtitle-font);
}
h4,h5,h6{
    font-family: var(--heading-font);
}

#simple-list-item-1{
    background-color: var(--primary-color);
    text-align: center;

}
h3{
    text-align: center;
    font-size:0.8rem;
}
.bar img{
    max-width: 6rem;
}

/* Sidebar */
.bar{
    color: white;
    font-size:0.8rem;
    text-align: center;
    background-color:  black;
}
.bar ul{
    width:fit-content;
    margin:auto;
}
.bar a{
    color:white;
    text-decoration:none;
    font-weight: bold;
    text-align: center;
}
.custom-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}
#offcanvasNavbar{
    background-color: black;
}
.bar button{
    background-color: white;
}

/* Greetings */
#welcome{
    background-color: var(--background-color);
}
#greetings{
    padding-top:4rem;
    padding-bottom:4rem;
}

#greetings .col img{
    width:100%;
    height: auto;
}
#greetings .col section{
    padding:5% ;
}

/* About */
#about{
    background-color: var(--primary-color);
    padding-top:4rem;
    padding-bottom:15rem;
}
#about img{
    width:25%;
}


/* SKills */
#list-skills{
    background-color: var(--background-color);
    /* margin:3rem; */
    padding-bottom: 15rem;
}
#list-skills #skills{
    display: flex;
    margin: auto;
    justify-content: center;
}
#list-skills #skills{
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-around;
}

#skills table{
    position: relative;
    width: 250px;

}

#skills table thead{
    display: flex;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

#skills table:hover thead{
    position: relative;
}

#skills table td{
    background-color: rgba(128, 128, 128, 0.329);
}
#skills td img{
    width: 1rem;
}
#list-skills i{
    font-size: 50px;
}

/* Projects */
#project{
    padding-bottom: 15rem;
    background-color: var(--primary-color);
}
#project .card{
    background-color: var(--primary-color);
}


/* Contact */
#contact{
    margin: auto;
    padding: 2.5rem;
    background-color: var(--background-color);
}

/* footer */
footer{
    display: flex;
    justify-content:space-between;
    background-color: black;
    color: rgba(var(--bs-light-rgb))!important;
}
footer a{
    text-decoration: none;
    color: rgba(var(--bs-light-rgb))!important;
}
